@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: rgb(255, 255, 255);
		--foreground: rgb(10, 10, 10);

		--primary: rgb(15, 15, 15);
		--primary-foreground: rgb(250, 250, 250);

		--secondary: rgb(244, 244, 244);
		--secondary-foreground: rgb(15, 15, 15);

		--muted: rgb(244, 244, 244);
		--muted-foreground: rgb(120, 120, 120);

		--accent: rgb(244, 244, 244);
		--accent-foreground: rgb(15, 15, 15);

		--destructive: rgb(255, 82, 82);
		--destructive-foreground: rgb(250, 250, 250);

		--ring: rgb(10, 10, 10);

		--border: rgb(230, 230, 230);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: rgb(10, 10, 10);
			--foreground: rgb(250, 250, 250);

			--primary: rgb(250, 250, 250);
			--primary-foreground: rgb(15, 15, 15);

			--secondary: rgb(30, 30, 30);
			--secondary-foreground: rgb(250, 250, 250);

			--muted: rgb(30, 30, 30);
			--muted-foreground: rgb(160, 160, 160);

			--accent: rgb(30, 30, 30);
			--accent-foreground: rgb(250, 250, 250);

			--destructive: rgb(120, 30, 30);
			--destructive-foreground: rgb(250, 250, 250);

			--ring: rgb(200, 200, 200);

			--border: rgb(30, 30, 30);
		}
	}

	body {
		@apply bg-background text-foreground;
	}
}
