@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 255 255 255;
		--foreground: 10 10 10;

		--primary: 15 15 15;
		--primary-foreground: 250 250 250;

		--secondary: 244 244 244;
		--secondary-foreground: 15 15 15;

		--muted: 244 244 244;
		--muted-foreground: 120 120 120;

		--accent: 244 244 244;
		--accent-foreground: 15 15 15;

		--destructive: 255 82 82;
		--destructive-foreground: 250 250 250;

		--ring: 10 10 10;
		--border: 230 230 230;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: 10 10 10;
			--foreground: 250 250 250;

			--primary: 250 250 250;
			--primary-foreground: 15 15 15;

			--secondary: 30 30 30;
			--secondary-foreground: 250 250 250;

			--muted: 30 30 30;
			--muted-foreground: 160 160 160;

			--accent: 30 30 30;
			--accent-foreground: 250 250 250;

			--destructive: 120 30 30;
			--destructive-foreground: 250 250 250;

			--ring: 200 200 200;
			--border: 30 30 30;
		}
	}

	body {
		@apply bg-background text-foreground;
	}

	th,
	td {
		@apply min-w-20 px-4 py-2 text-center;
	}
}
